.light-obj
  background: url($img-dir + "sun.svg")
  @include square(80px)
  position: absolute
  left: 0
  top: 0

  body.night &
    background: url($img-dir + "moon.svg")

  &__wrapper
    position: absolute
    left: 250px
    top: 160px
    transform: scale(-1, -1)
    z-index: 0

.cloud
  background: url($img-dir + "cloud.svg") no-repeat
  position: absolute
  opacity: .3
  animation: moving 3s linear infinite

  &:first-child
    top: -50%
    left: -30%
    @include square(125px)

  &:nth-child(2)
    top: -82%
    left: 4%
    animation-delay: .5s
    @include square(100px)

  &:nth-child(3)
    top: -30%
    left: 24%
    animation-delay: 1s
    @include square(90px)

  &:nth-child(4)
    top: -70%
    left: 56%
    animation-delay: 1.5s
    @include square(150px)

.star
  opacity: 0
  background: url($img-dir + "star.svg") no-repeat
  @include square(40px)
  position: absolute
  @include transition(opacity)
  transition-duration: .7s
  animation: pulse 1s linear infinite

  body.night &
    opacity: 0.05

.line
  height: 50px
  background: $accent
  position: absolute
  left: 0
  right: 0
  bottom: 160px
  line-height: 20px
  font-size: 1.5em
  font-weight: 400
  color: #fff

  /*&:before, &:after
    content: ""
    position: absolute
    left: 20px
    top: 0
    bottom: 0
    width: 5px
    background: lighten($accent, 25%)*/

  /*&:after
    left: 30px*/